$hoverColor: rgba(0, 0, 0, 0.5);
$navbarHeight: 35px;

.navbarControl {
  height: $navbarHeight;
  width: $navbarHeight;
  transition: 350ms;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $hoverColor;
  }
}

.exit:hover {
  background-color: var(--danger);
}

.header {
  font-size: 1rem;
  font-family: 'Hind', sans-serif;
  padding: 0.4rem;
  margin-left: 0.3rem;
  flex-grow: 1;
  -webkit-app-region: drag;
}

.navbar {
  background-color: var(--topBar);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--header);
  max-height: $navbarHeight;
  position: fixed;
  width: 100vw;
  z-index: 15;
}
