$borderRadius: .5rem;

.scheduleContainer {
  margin-top: .5rem;
  display: grid;
  grid-template-columns: 2fr repeat(5, 3fr);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  grid-gap: 0;
  border-radius: $borderRadius;
  //width: 95%;

  & > div {
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    background-color: transparent;
    padding: .5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-top-left-radius: $borderRadius;
    }
    
    &:last-child {
      border-bottom-right-radius: $borderRadius;
    }
    
    &:nth-child(6) {
      border-top-right-radius: $borderRadius;
    }
  }

}

.joinUrl {
  color: var(--primary) !important;
}