$collapsedWidth: 5rem;
$openWidth: 16rem;
$transitionSpeed: 300ms;

main {
  padding: 1rem;
  margin-top: 35px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  background-color: var(--subMenu);
  z-index: 15;
  transition: width $transitionSpeed ease;
  overflow: hidden;
}

.navbarNav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navItem {
  width: 100%;

  &:last-child {
    margin-top: auto;
  }
}

.navLink {
  display: flex;
  align-items: center;
  height: $collapsedWidth;
  text-decoration: none;
  filter: grayscale(100%) brightness(1.4);
  transition: $transitionSpeed;

  & svg {
    min-width: 2rem;
    min-height: 2rem;
    margin: 0 1.5rem;
    color: var(--primary);
  }

  & span {
    color: var(--primary);
  }

  &:hover {
    filter: grayscale(0%);
    background-color: var(--topBar);
  }
}

.linkText {
  display: none;
  margin-left: 1rem;
}

.active {
  filter: grayscale(0%) !important;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--primary);
  font-size: 1.5rem;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform $transitionSpeed;
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: $collapsedWidth;
  }
  
  .logo {
    display: none;
  }
  
  .navbarNav {
    flex-direction: row;
  }
  
  .navLink {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: $collapsedWidth;
  }
  
  .navbar {
    top: 35px;
    width: $collapsedWidth;
    height: calc(100vh - 35px);

    &:hover {
      width: $openWidth;

      & .linkText {
        display: block;
      }

      .logo svg {
        transform: rotate(-180deg);
      }
    }
  }
}